In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 14.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=2a65de1c592e3c8160819e2565e3ea787a63883602294177a04cfd2246fab0b5
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 34 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 160706 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1f_9EbnywCj35EBUA32sueigxBjBJwALr'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('War and Peace by Leo Tolstoy (ru).txt')

In [ ]:
import pandas as pd

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

*`ngrok может отработать не с первого раза, повторите при необходимости.`*

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2021-05-31 15:41:22--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 34.193.189.47, 34.239.208.97, 3.220.114.126, ...
Connecting to bin.equinox.io (bin.equinox.io)|34.193.189.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.1’

ngrok-stable-linux- 100%[===================>]  13.19M  4.76MB/s    in 2.8s

2021-05-31 15:41:25 (4.76 MB/s) - ‘ngrok-stable-linux-amd64.zip.1’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ngrok
https://21ec7b7746cc.ngrok.io

Подсчитай кол-во слов в документе "War and Peace by Leo Tolstoy (ru).txt"

In [ ]:
# код
tokens = sc.textFile("War and Peace by Leo Tolstoy (ru).txt").flatMap(lambda line: line.split(" "))

In [ ]:
word_counts = tokens.map(lambda word: ('total', 1)).reduceByKey(lambda w1, w2: w1 + w2)

In [ ]:
collect_words = word_counts.collect()
collect_words[0][1]

493897

In [ ]:
id='13yfAoONwq4rS5XrTv3IrcqcFcdgfvK9V'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-train.txt')

id='1VE_9x0LQvOJpHXbXp_RMPl3Q4wRUuOok'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-test.txt')

In [ ]:
training = spark.read.format("libsvm") \
  .option("numFeatures", "784") \
  .load("./mnist-digits-train.txt")
test = spark.read.format("libsvm") \
  .option("numFeatures", "784") \
  .load("./mnist-digits-test.txt")

Необходимо обучить модель используя Spark MLlib (модель на ваш выбор, например Decision Tree) и получить accuracy.
Подробнее тут: https://spark.apache.org/docs/latest/ml-classification-regression.html

Разбиваем тренировочную выборку на train и test

In [ ]:
(trainingData, testData) = training.randomSplit([0.7, 0.3])

задаем алгоритм. В данном случае используем LogisticRegression

In [ ]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics

stages = []
lr = LogisticRegression(labelCol="label", featuresCol="features", regParam=0.001)
stages += [lr]

Создаем pipeline

In [ ]:
pipeline = Pipeline(stages=stages)

Задаем сетку параметров

In [ ]:
paramGrid = ParamGridBuilder().addGrid(lr.regParam, [10, 1.0, 0.1, 0.01, 0.001]).build()

Проводим кросс-валидацию

In [ ]:
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=MulticlassClassificationEvaluator(),
                          numFolds=5)
cvModel = crossval.fit(trainingData)

Смотрим лучшие параметры

In [ ]:
cvModel.bestModel.stages[-1]._java_obj.getRegParam()

0.001

Предиктим

In [ ]:
prediction = cvModel.transform(testData)

Считаем метрику

In [ ]:
labelAndPred = prediction.select('label', 'prediction')
metrics_multi = MulticlassMetrics(labelAndPred.rdd.map(tuple))
acc = metrics_multi.accuracy
acc

0.9224569205113953

Теперь обучим модель на полном наборе данных и сделаем предсказание

In [ ]:
model = pipeline.fit(training)

predictions = model.transform(test)

Выберем столбец prediction

In [ ]:
y_pred = predictions.select('prediction')
y_pred.show()

+----------+
|prediction|
+----------+
|       7.0|
|       2.0|
|       1.0|
|       0.0|
|       4.0|
|       1.0|
|       4.0|
|       9.0|
|       6.0|
|       9.0|
|       0.0|
|       6.0|
|       9.0|
|       0.0|
|       1.0|
|       5.0|
|       9.0|
|       7.0|
|       3.0|
|       4.0|
+----------+
only showing top 20 rows

Тут лежат данные для решения задач на sql. Необходимо написать код который формирует из данных датафреймы и используя sqlContext написать sql код с решением. Приветствуется наличие нескольких вариантов решения задачи.

In [ ]:
id='1kUIrskM0zNH8u71G9M1BkHjRQYxvgAvh'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.zip')
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/regions.csv
  inflating: data/departments.csv
  inflating: data/jobs.csv
  inflating: data/locations.csv
  inflating: data/country.csv
  inflating: data/employees.csv
  inflating: data/job_history.csv

In [ ]:
regions = spark.read.csv('data/regions.csv', header=True, sep='\t')
regions.createOrReplaceTempView("regions")

In [ ]:
regions.show()

+---------+--------------------+
|REGION_ID|         REGION_NAME|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

In [ ]:
dep = spark.read.csv('data/departments.csv', header=True, sep='\t')
dep.createOrReplaceTempView("department")

In [ ]:
dep.show()

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|      null|       1700|
|          130|       Corporate Tax|      null|       1700|
|          140|  Control And Credit|      null|       1700|
|          150|Shareholder Services|      null|       1700|
|          160|            Benefits|      null|       1700|
|          170|       Manufacturing|      null|       1700|
|          180|        Construction|      null|       1700|
|          190|         Contracting|      null|       1700|
|          200|          Operations|      null|       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [ ]:
jobs = spark.read.csv('data/jobs.csv', header=True, sep='\t')
jobs.createOrReplaceTempView("jobs")

In [ ]:
jobs.show()

+----------+--------------------+----------+----------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|
+----------+--------------------+----------+----------+
|   AD_PRES|           President|     20080|     40000|
|     AD_VP|Administration Vi...|     15000|     30000|
|   AD_ASST|Administration As...|      3000|      6000|
|    FI_MGR|     Finance Manager|      8200|     16000|
|FI_ACCOUNT|          Accountant|      4200|      9000|
|    AC_MGR|  Accounting Manager|      8200|     16000|
|AC_ACCOUNT|   Public Accountant|      4200|      9000|
|    SA_MAN|       Sales Manager|     10000|     20080|
|    SA_REP|Sales Representative|      6000|     12008|
|    PU_MAN|  Purchasing Manager|      8000|     15000|
|  PU_CLERK|    Purchasing Clerk|      2500|      5500|
|    ST_MAN|       Stock Manager|      5500|      8500|
|  ST_CLERK|         Stock Clerk|      2008|      5000|
|  SH_CLERK|      Shipping Clerk|      2500|      5500|
|   IT_PROG|          Programmer|      4000|     10000|
|    MK_MAN|   Marketing Manager|      9000|     15000|
|    MK_REP|Marketing Represe...|      4000|      9000|
|    HR_REP|Human Resources R...|      4000|      9000|
|    PR_REP|Public Relations ...|      4500|     10500|
+----------+--------------------+----------+----------+

In [ ]:
locations = spark.read.csv('data/locations.csv', header=True, sep='\t')
locations.createOrReplaceTempView("locations")

In [ ]:
locations.show()

+-----------+--------------------+-----------+-------------------+----------------+----------+
|LOCATION_ID|      STREET_ADDRESS|POSTAL_CODE|               CITY|  STATE_PROVINCE|COUNTRY_ID|
+-----------+--------------------+-----------+-------------------+----------------+----------+
|       1000|1297 Via Cola di Rie|      00989|               Roma|            null|        IT|
|       1100|93091 Calle della...|      10934|             Venice|            null|        IT|
|       1200|    2017 Shinjuku-ku|       1689|              Tokyo|Tokyo Prefecture|        JP|
|       1300|     9450 Kamiya-cho|       6823|          Hiroshima|            null|        JP|
|       1400| 2014 Jabberwocky Rd|      26192|          Southlake|           Texas|        US|
|       1500| 2011 Interiors Blvd|      99236|South San Francisco|      California|        US|
|       1600|      2007 Zagora St|      50090|    South Brunswick|      New Jersey|        US|
|       1700|     2004 Charade Rd|      98199|            Seattle|      Washington|        US|
|       1800|     147 Spadina Ave|    M5V 2L7|            Toronto|         Ontario|        CA|
|       1900|     6092 Boxwood St|    YSW 9T2|         Whitehorse|           Yukon|        CA|
|       2000| 40-5-12 Laogianggen|     190518|            Beijing|            null|        CN|
|       2100|  1298 Vileparle (E)|     490231|             Bombay|     Maharashtra|        IN|
|       2200|12-98 Victoria St...|       2901|             Sydney| New South Wales|        AU|
|       2300|  198 Clementi North|     540198|          Singapore|            null|        SG|
|       2400|      8204 Arthur St|       null|             London|            null|        UK|
|       2500|Magdalen Centre, ...|    OX9 9ZB|             Oxford|          Oxford|        UK|
|       2600|   9702 Chester Road|09629850293|          Stretford|      Manchester|        UK|
|       2700|Schwanthalerstr. ...|      80925|             Munich|         Bavaria|        DE|
|       2800|Rua Frei Caneca 1...|  01307-002|          Sao Paulo|       Sao Paulo|        BR|
|       2900|20 Rue des Corps-...|       1730|             Geneva|          Geneve|        CH|
+-----------+--------------------+-----------+-------------------+----------------+----------+
only showing top 20 rows

In [ ]:
country = spark.read.csv('data/country.csv', header=True, sep='\t')
country.createOrReplaceTempView("country")

In [ ]:
country.show()

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
|        CH| Switzerland|        1|
|        CN|       China|        3|
|        DE|     Germany|        1|
|        DK|     Denmark|        1|
|        EG|       Egypt|        4|
|        FR|      France|        1|
|        IL|      Israel|        4|
|        IN|       India|        3|
|        IT|       Italy|        1|
|        JP|       Japan|        3|
|        KW|      Kuwait|        4|
|        ML|    Malaysia|        3|
|        MX|      Mexico|        2|
|        NG|     Nigeria|        4|
|        NL| Netherlands|        1|
+----------+------------+---------+
only showing top 20 rows

In [ ]:
emp = spark.read.csv('data/employees.csv', header=True, sep='\t')
emp.createOrReplaceTempView("employees")

In [ ]:
emp.show()

+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567| 17.06.03|   AD_PRES| 24000|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568| 21.09.05|     AD_VP| 17000|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569| 13.01.01|     AD_VP| 17000|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567| 03.01.06|   IT_PROG|  9000|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568| 21.05.07|   IT_PROG|  6000|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569| 25.06.05|   IT_PROG|  4800|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560| 05.02.06|   IT_PROG|  4800|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567| 07.02.07|   IT_PROG|  4200|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569| 17.08.02|    FI_MGR| 12008|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169| 16.08.02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269| 28.09.05|FI_ACCOUNT|  8200|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369| 30.09.05|FI_ACCOUNT|  7700|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469| 07.03.06|FI_ACCOUNT|  7800|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567| 07.12.07|FI_ACCOUNT|  6900|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561| 07.12.02|    PU_MAN| 11000|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562| 18.05.03|  PU_CLERK|  3100|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563| 24.12.05|  PU_CLERK|  2900|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564| 24.07.05|  PU_CLERK|  2800|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565| 15.11.06|  PU_CLERK|  2600|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566| 10.08.07|  PU_CLERK|  2500|          null|       114|           30|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [ ]:
j_his = spark.read.csv('data/job_history.csv', header=True, sep='\t')
j_his.createOrReplaceTempView("job_history")

In [ ]:
j_his.show()

+-----------+----------+--------+----------+-------------+
|EMPLOYEE_ID|START_DATE|END_DATE|    JOB_ID|DEPARTMENT_ID|
+-----------+----------+--------+----------+-------------+
|        102|  13.01.01|24.07.06|   IT_PROG|           60|
|        101|  21.09.97|27.10.01|AC_ACCOUNT|          110|
|        101|  28.10.01|15.03.05|    AC_MGR|          110|
|        201|  17.02.04|19.12.07|    MK_REP|           20|
|        114|  24.03.06|31.12.07|  ST_CLERK|           50|
|        122|  01.01.07|31.12.07|  ST_CLERK|           50|
|        200|  17.09.95|17.06.01|   AD_ASST|           90|
|        176|  24.03.06|31.12.06|    SA_REP|           80|
|        176|  01.01.07|31.12.07|    SA_MAN|           80|
|        200|  01.07.02|31.12.06|AC_ACCOUNT|           90|
+-----------+----------+--------+----------+-------------+

Кто получает больше всего? Кто меньше всего?

Больше всего

In [ ]:
# код
sqlDF = spark.sql("""SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY 
                  FROM employees
                  WHERE SALARY IN (SELECT MAX(CAST(SALARY AS INT))
                                   FROM employees)
                  """)
sqlDF.show()

+-----------+----------+---------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|SALARY|
+-----------+----------+---------+------+
|        100|    Steven|     King| 24000|
+-----------+----------+---------+------+

Меньше всего

In [ ]:
# код
sqlDF = spark.sql("""SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY 
                  FROM employees
                  WHERE SALARY IN (SELECT MIN(CAST(SALARY AS INT))
                                   FROM employees)
                  """)
sqlDF.show()

+-----------+----------+---------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|SALARY|
+-----------+----------+---------+------+
|        132|        TJ|    Olson|  2100|
+-----------+----------+---------+------+

Выведете топ 5 по зарплате.

In [ ]:
# код
sqlDF = spark.sql("""SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, CAST(SALARY as INT) as SALARY
                     FROM employees
                     ORDER BY SALARY DESC
                     LIMIT 5
""")
sqlDF.show()

+-----------+----------+---------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|SALARY|
+-----------+----------+---------+------+
|        100|    Steven|     King| 24000|
|        101|     Neena|  Kochhar| 17000|
|        102|       Lex|  De Haan| 17000|
|        145|      John|  Russell| 14000|
|        146|     Karen| Partners| 13500|
+-----------+----------+---------+------+

Сколько всего регионов? Сколько работников в каждом регионе?

Сколько всего регионов

In [ ]:
# код
sqlDF = spark.sql("""SELECT COUNT(*) AS counter_regions
                     FROM (SELECT DISTINCT REGION_NAME
                           FROM regions)
""")
sqlDF.show()

+---------------+
|counter_regions|
+---------------+
|              4|
+---------------+

Сколько работников в каждом регионе

In [ ]:
sqlDF = spark.sql("""WITH cte AS(
                          SELECT dep.DEPARTMENT_ID, loc.COUNTRY_ID
                          FROM department AS dep INNER JOIN locations as loc
                          ON dep.LOCATION_ID = loc.LOCATION_ID),
                     cte2 AS(
                          SELECT country.REGION_ID, cte.DEPARTMENT_ID
                          FROM cte INNER JOIN country
                          ON country.COUNTRY_ID = cte.COUNTRY_ID)

                    SELECT regions.REGION_NAME, 
                    CASE WHEN counter_emp IS NULL
                    THEN 0
                    ELSE counter_emp
                    END counter_emp
                    FROM regions LEFT JOIN (
                                                SELECT cte2.REGION_ID, count(emp.EMPLOYEE_ID) as counter_emp
                                                FROM cte2 INNER JOIN employees AS emp
                                                ON cte2.DEPARTMENT_ID = emp.DEPARTMENT_ID
                                                GROUP BY cte2.REGION_ID) as t
                    ON regions.REGION_ID = t.REGION_ID
                    """)
sqlDF.show()

+--------------------+-----------+
|         REGION_NAME|counter_emp|
+--------------------+-----------+
|                Asia|          0|
|              Europe|         36|
|Middle East and A...|          0|
|            Americas|         70|
+--------------------+-----------+

Выведете всех работников из Китая.

In [ ]:
# код
sqlDF = spark.sql("""WITH cte AS(
                          SELECT dep.DEPARTMENT_ID, loc.COUNTRY_ID
                          FROM department AS dep INNER JOIN locations as loc
                          ON dep.LOCATION_ID = loc.LOCATION_ID)
                    SELECT emp.EMPLOYEE_ID, emp.FIRST_NAME, emp.LAST_NAME, cte.COUNTRY_ID
                    FROM cte INNER JOIN employees AS emp
                    ON cte.DEPARTMENT_ID = emp.DEPARTMENT_ID
                    WHERE cte.COUNTRY_ID = 'CN'
                    """)
sqlDF.show()

+-------------+----------+
|DEPARTMENT_ID|COUNTRY_ID|
+-------------+----------+
+-------------+----------+

Укажите самую высокооплачиваемою должность.

In [ ]:
# код
sqlDF = spark.sql("""SELECT JOB_TITLE, MAX_SALARY
                     FROM jobs
                     WHERE MAX_SALARY IN (SELECT MAX(CAST(MAX_SALARY AS INT))
                                          FROM jobs)""")
sqlDF.show()

+---------+----------+
|JOB_TITLE|MAX_SALARY|
+---------+----------+
|President|     40000|
+---------+----------+

Выведете всех работников связанных с ИТ. Выведете их менеджеров.

In [ ]:
# код
sqlDF = spark.sql("""SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, MANAGER_ID
                     FROM employees
                     WHERE JOB_ID = 'IT_PROG'
""")
sqlDF.show()

+-----------+----------+---------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|MANAGER_ID|
+-----------+----------+---------+----------+
|        103| Alexander|   Hunold|       102|
|        104|     Bruce|    Ernst|       103|
|        105|     David|   Austin|       103|
|        106|     Valli|Pataballa|       103|
|        107|     Diana|  Lorentz|       103|
+-----------+----------+---------+----------+

Выведете имя и фамилию работника, его текущую и предыдущую должности и сколько полных недель и дней прошло с момент изменения.

In [ ]:
# код
sqlDF = spark.sql("""WITH cte AS(
                     SELECT jb.EMPLOYEE_ID, TO_DATE(CAST(UNIX_TIMESTAMP(emp.HIRE_DATE, 'dd.MM.yy') AS TIMESTAMP)) as START_DATE,
                     TO_DATE(CAST(UNIX_TIMESTAMP(jb.END_DATE, 'dd.MM.yy') AS TIMESTAMP)) as END_DATE,
                     jb.JOB_ID as PREV_JOB, emp.JOB_ID as NOW_JOB,
                     emp.FIRST_NAME, emp.LAST_NAME,
                     RANK() OVER(PARTITION BY jb.EMPLOYEE_ID ORDER BY END_DATE DESC) as RANK_JOB
                     FROM job_history as jb JOIN employees as emp
                     ON jb.EMPLOYEE_ID = emp.EMPLOYEE_ID
                     ORDER BY jb.EMPLOYEE_ID),
                     cte2 AS(
                         SELECT *
                         FROM cte
                         WHERE RANK_JOB = 1 and START_DATE > END_DATE
                     )

                     SELECT FIRST_NAME, LAST_NAME, PREV_JOB, NOW_JOB, DATEDIFF(START_DATE, END_DATE) as DIFF_DAYS,
                     CAST(DATEDIFF(START_DATE, END_DATE) / 30 AS INT) as DIFF_MONTHS FROM cte2
""")
#CAST(UNIX_TIMESTAMP(START_DATE, 'dd.MM.yy') AS TIMESTAMP)
sqlDF.show()

+----------+---------+----------+-------+---------+-----------+
|FIRST_NAME|LAST_NAME|  PREV_JOB|NOW_JOB|DIFF_DAYS|DIFF_MONTHS|
+----------+---------+----------+-------+---------+-----------+
|     Neena|  Kochhar|AC_ACCOUNT|  AD_VP|     1425|         47|
+----------+---------+----------+-------+---------+-----------+

Выведете уникальные телефонные номера

In [ ]:
# код
sqlDF = spark.sql("""SELECT DISTINCT PHONE_NUMBER
                     FROM employees
""")
sqlDF.show()

+------------------+
|      PHONE_NUMBER|
+------------------+
|011.44.1344.429018|
|      515.127.4566|
|      515.127.4564|
|011.44.1344.429278|
|      515.123.4569|
|      650.124.1434|
|      650.123.2234|
|011.44.1344.498718|
|      650.127.1634|
|      515.127.4561|
|011.44.1345.629268|
|      515.127.4562|
|011.44.1644.429264|
|011.44.1644.429262|
|      650.501.1876|
|      650.127.1834|
|011.44.1343.529268|
|011.44.1644.429265|
|      515.123.8181|
|      650.507.9833|
+------------------+
only showing top 20 rows

Есть ли сотрудники с одинаковыми фамилиями и сколько их.

In [ ]:
# код
sqlDF = spark.sql("""SELECT LAST_NAME, COUNT(LAST_NAME) as COUNTER
                     FROM employees
                     GROUP BY LAST_NAME
                     HAVING COUNT(LAST_NAME) > 1
""")
sqlDF.show()

+---------+-------+
|LAST_NAME|COUNTER|
+---------+-------+
|    Smith|      2|
|     King|      2|
|Cambrault|      2|
|   Taylor|      2|
+---------+-------+